- content_for :side_content do
  = image_tag @page.image.url('large'), :alt => "", :title => "" 
  
#page_content
  %div
    = image_tag @page.picture.url(:large), :class => 'attached_picture' if @page.picture?
    = raw @page.content
    = link_to @page.document.original_filename, @page.document.url, :alt => "Download #{@page.document.original_filename}", :target => '_blank', :class => "attached_document #{@page.document.content_type.match(/pdf/) ? 'pdf' : 'img'}" if @page.document?
    = link_to @page.document_2.original_filename, @page.document_2.url, :alt => "Download #{@page.document_2.original_filename}", :target => '_blank', :class => "attached_document #{@page.document.content_type.match(/pdf/) ? 'pdf' : 'img'}" if @page.document_2?