- content_for :side_content do
  = render :partial => "list"

#category_comment
  %div
    = link_to "Accéder au diaporama", category_project_path(@category, @category.projects.first), :class => 'access_to_project top'
    = raw @category.comment
    = link_to "Accéder au diaporama", category_project_path(@category, @category.projects.first), :class => 'access_to_project bottom'

= javascript_tag "displayProject(#{@category.timer*1000})" unless @category.timer.to_i == 0 